<h2 style="text-align: center; padding-top: 13px; padding-bottom: 13px; margin-bottom: 0px; background-color: rgb(22, 123, 188, 0.07);">Фотографии с мероприятий</h2>
<div class="owl-carousel owl-theme" id="slider" style="background-color: rgb(22, 123, 188, 0.07);">
    <!--Слайд 1-->
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg1.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg3.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg4.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg5.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg6.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg7.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg8.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg9.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg11.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg12.jpg"  style="height: 300px; border-radius: 10%;"> </div>
    <div class="item" style="border-radius: 10%; padding: 2px; background-color: white;"> <img src="img/imgg13.jpg"  style="height: 300px; border-radius: 10%;"> </div>
</div>