<h2 style="text-align: center; padding-top: 13px; padding-bottom: 13px; margin-bottom: 0px; background-color: rgb(22, 123, 188, 0.07);">Фотографии с мероприятий</h2>
<div class="owl-carousel owl-theme" id="slider" style="background-color: rgb(22, 123, 188, 0.07);">
    <!--Слайд 1-->
    <div class="item"> <img src="img/imgg1.jpg"> </div>
    <div class="item"> <img src="img/imgg3.jpg"> </div>
    <div class="item"> <img src="img/imgg4.jpg"> </div>
    <div class="item"> <img src="img/imgg5.jpg"> </div>
    <div class="item"> <img src="img/imgg6.jpg"> </div>
    <div class="item"> <img src="img/imgg7.jpg"> </div>
    <div class="item"> <img src="img/imgg8.jpg"> </div>
    <div class="item"> <img src="img/imgg9.jpg"> </div>
    <div class="item"> <img src="img/imgg11.jpg"> </div>
    <div class="item"> <img src="img/imgg12.jpg"> </div>
    <div class="item"> <img src="img/imgg13.jpg"> </div>
</div>